@main("Sponsors", "sponsors") {
	<style>
	.sponsors {
		overflow: hidden;
	}
	.sponsor {
		float: left;
		padding: 10px 30px;
	}
	</style>

	<h2>Sponsors</h2>
	
		<div class='sponsors'>
		
		<div class='sponsor'>
			<a href='https://www.sendoutcards.com/' target='_blank'>
				<img src='@asset("/public/images/sendoutcards.png")'>
			</a>
		</div>
		
		<div class='sponsor'>
			<a href='https://www.gravitydev.com/' target='_blank'>
				<img src='@asset("/public/images/gravity.png")'>
			</a>
		</div>
	    
    </div>
}